<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- <menuitem id="packing_list_sheet_menu" name="Shipments" web_icon="mjb_packing_list_base,static/description/menu_icon.png" sequence="20" /> -->
    <!-- <menuitem id="packing_list_sheet_packing_lists_menu" name="Configuration" parent="sale.menu_sale_config" sequence="100" /> -->

    <record id="packing_list_action" model="ir.actions.act_window">
        <field name="name">Packing List</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">packing.list</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Create a Packing List
            </p>
        </field>
    </record>
    
    

    <menuitem id="packing_list_submenu_action" parent="sale.sale_order_menu" name="Packing List" action="packing_list_action" sequence="25" />
</odoo>